/* ABOUT */

.AboutPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;

  .AboutText {
    width: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;

    &Heading {
      font-size: 35px;
      font-weight: 600;
      padding-bottom: 40px;
    }

    a {
      color: #9067C6;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .animation {
    margin-top: 100px;
    width: 400px;
    height: 400px;

    @media (max-width: 900px) {
      margin: auto;
      // margin-bottom: 40px;
      width: 350px;
      height: 350px;
    }
    @media (max-width: 500px) {
      margin: 0 auto;
      
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 900px) {
  .AboutPage {
    display: block;
    text-align: center;
    padding: 30px;

    .AboutText {
      text-align: left;
      display: inline-block;
      width: 95%;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 80px;

      &Heading {
        font-size: 26px;
      }
    }

    .edutext {
      font-size: 10px;
    }
  }
}

// SKILLS 

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.SkillsHeading {
  text-align: center;
  margin: 50px 10px;
  font-size: 36px;
  letter-spacing: 0.6px;
}

@media (max-width: 500px) {
  .AboutText {
    font-size: 16px;
  }

  .SkillsHeading {
    font-size: 26px;
  }

  .animation {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
}

// EDUCATION 

.maineducation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 50px 10%;
  flex-wrap: wrap;
}

.education-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 25%;
  height: 180px;
  border: 3px solid #431f47;
  font-size: 64px;
  border-radius: 5px;
  transition: 0.5s;

  .edu-text {
    font-size: 16px;
  }
}

.education-box:hover {
  transform: scale(1.2);
  box-shadow: 0 2px 8px 0 #431f47;
}

// EXPERIENCE 

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10%;
}

.experience-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 26%;
  height: 250px;
  border: 3px solid #431f47;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;

  span {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.experience-box:hover {
  transform: scale(1.2);
  box-shadow: 0 2px 8px 0 #431f47;
}

@media (max-width: 500px) {
  .experience-box {
    padding: 15px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
  }

  .exp-text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .education-box {
    padding: 15px;
    width: fit-content;
    height: fit-content;
    justify-content: center;

    .edu-text {
      font-size: 14px;
    }
  }
}
