@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.btns {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btns button {
  border: 1px solid white;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 7px 7px;
  // border: none;
  background-color: #1C1C27; 
  color: #fff; 
  transition: background-color 0.3s, color 0.3s;
}

.btns button:hover {
  background-color: #eaeaea;
  color: black;
  border: 1px solid black;
}


.HomePage{
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    margin-top: 100px;
    margin-bottom: -50px;
    align-items: center;
  }
  .HomeText h1{
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0.7px;
    padding-top: 10px;
  }
  
  .TypeEffect{
    padding: 25px 0px;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.6px;
  }
  
  .illustration img{

    margin-top: 40px;
    
    border-radius: 50%;
    width: 350px;
    height: 350px;
  }
  
  @media(max-width:900px){
    .HomePage{
      display: block;
      text-align: center;
      margin-top: 150px;
      padding: 25px;
    }
    .HomeText{
      text-align: left;
      display: inline-block;
    }
    .illustration{
      margin: auto;
      margin-bottom: 50px;
    }
    .illustration img{
      margin-top: 50px;
    }
  }
  
  @media(max-width: 500px) {
    .HomePage{
      min-height: 70vh;
    }
    .NavbarLinks{
      inset: 0 0 0 30%;
    }
    .HomeText h1{
      font-weight: 500;
      font-size: 28px;
    }  
    .TypeEffect{
      font-weight: 500;
      font-size: 24px;
    }
    .illustration {
      width: 300px;
      height: 300px;
      margin-bottom: 0px;
    }
    .illustration img {
      margin-top: 50px;
      width: 270px;
      height: 270px;
    }
    .Avatar{
      width: 300px;
      height: 300px;
      margin-bottom: 0px;
      margin-left: 45px;
    }
     
  }
  /* ABOUT */

.AboutPage{
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    margin-top: 70px;
    align-items: center;
    padding: 25px;
  }
  
  .AboutText{
    width: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
  .AboutTextHeading{
    font-family: "Mukta", sans-serif;
  
  font-style: normal;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 40px;
  }
  .AboutText a{
    color: #9067C6;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .Avatar{
    width: 300px;
    height: 400px;
  }
  
  @media(max-width:900px){
    .AboutPage{
      display: block;
      text-align: center;
      padding: 30px;    
    }
    .AboutText{
      text-align: left;
      display: inline-block;
      width: 95%;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 80px;
    }
    .AboutTextHeading{
      font-size: 26px;
    }
  
    .Avatar{
      width: 300px;
      margin-left: 200px;
    }
  }
  @media(max-width:500px){
    .AboutPage{
      display: block;
      text-align: center;
      padding: 30px;    
    }
    .AboutText{
      text-align: center;
      display: inline-block;
      width: 95%;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 80px;
    }
    .AboutTextHeading{
      font-size: 26px;
    }
  
    .Avatar{
      width: 300px;
      margin-left: 20px;
    }
  }