@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.ContactPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 25px;
    text-align: center;

    @media(max-width: 900px) {
        padding: 20px;
    }
    @media(max-width: 500px) {
        margin-top: 60px;
    }
}

.ContactHeading {
    font-size: 35px;
    margin-bottom: 20px;

    @media(max-width: 500px) {
        
        font-size: 28px;
        font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
    }
}

.ContactContent {
    padding: 10px;
    border: 3px solid #431f47;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;

    @media(max-width: 900px) {
        flex-direction: column;
        
    }
}

.ContactImage {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    @media(max-width: 900px) {
        width: 60%;
        margin-bottom: 30px;
    }

    @media(max-width: 500px) {
        width: 80%;
    }
}

.ContactInfo {
    width: 40%;
    text-align: left;

    @media(max-width: 500px) {
        width: 50%;
        
    }


    .SocialHandles {
        list-style: none;
        padding: 0;
        margin: 0;

       
        @media(max-width: 900px) {
            margin-left: 150px;
        }

        @media(max-width: 500px) {
            margin-left: 35px;
            
        }

        li {
            margin: 10px 0;
            font-size: 20px;

            

            a {
                text-decoration: none;
                color: #fffeff;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: color 0.3s;



                &:hover {
                    color: #9067C6;
                }

                @media(max-width: 500px) {
                    font-size: 15px;

                    
                }
            }

            
        }

        // @media(max-width: 500px) {
        //     li {
        //         font-size: 15px;

                
        //     }
        // }
    }

    @media(max-width: 900px) {
        width: 80%;
        text-align: center;
    }
}

.socials {
    display: flex;
    gap: 20px;
}

// FORM
.mainform {
    display: flex;
    justify-content: center;
}

.form_main {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #1C1C27;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #431f47;
}

.heading {
    font-size: 1.8em;
    color: whitesmoke;
    
    margin: 0 0 20px 0;
    // z-index: 2;
    font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inputContainer {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    // z-index: 2;

    .inputField {
        width: 100%;
        height: 35px;
        background-color: #1C1C27;
        color: white;
        border: none;
        border-bottom: 2px solid #adadad;
        font-size: 1em;
        font-weight: 500;
        padding-left: 10px;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-bottom: 2px solid #c772ff;
        }

        &::placeholder {
            color: #dadae2;
            font-weight: 500;
        }
    }
}

.error {
    color: #ff4d4d;
    font-size: 0.75em;
    margin-top: 5px;
}

#button {
    // z-index: 2;
    position: relative;
    width: 60%;
    border: none;
    background-color: #a268ff;
    height: 40px;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #7e54ff;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modalContent p{
    color: #a268ff;
}

.modalContent button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #a268ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;

    &:hover {
        background: #7e54ff;
    }
}
